.content.content-intro
	.content-inner
		if intro.background
			canvas#background
		.wrap.fade
			h2.content-title #{intro.title}
			h3.content-subtitle(original-content=`${intro.subtitle}`) &nbsp;
			- const { first , second , third } = intro.ul
			div.card
				.card-inner
					ul
						li
							a(href=`${first.href}` aria-label=`${first.text}`)
								i(class=`icon icon-${first.icon}`)
								span(data-translate=`${first.text}`) #{first.text}

						li
							a(href=`${second.href}` aria-label=`${second.text}`)
								i(class=`icon icon-${second.icon}`)
								span(data-translate=`${second.text}`) #{second.text}

						li
							a(href=`${third.href}` aria-label=`${third.text}` target="_blank")
								i(class=`icon icon-${third.icon}`)
								span(data-translate=`${third.text}`) #{third.text}
